.error404{
    height: 70vh;
    width: 80%;
}
.buttonError404{
    display: block;
    padding: .8rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .8rem;
    background-color: #3483fa;
    color: #fff;
    width: 140px;
}
.buttonError404:hover{
    background-color: #2f7aeb;
    color: #fff;
}


