*{
  margin: 0;
  padding: 0;
}

/******Header******/
.header{
  background-color: #9d5959;
}
.botonesHeader{
  border: 1px solid #000;
}
.botonesHeader:hover{
  background-color: #8e7c7c;
}

/******Items******/
.cardsProductos {
  width: 215px;
	margin: 20px auto;
	background-color: #fff ;
	transition: all 450ms ease-in-out;
	border-radius: .5rem;
	box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}
.cardsProductos:hover{
  transform: scale(1.1);
}
.cardsProductos img{
  border-radius: .5rem;
  margin: auto;
   width: 210px;
   height: 200px;	
 }
 .cardsProductos h3, p {
  font-size: 1rem;
}

.quantity{ 
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.count{
  margin-bottom: 0;
  font-size: .8rem;
}
.itemsButton{
  font-size: .8rem;
  width: 1rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid #666;
}
.addButton{
  border: 1px solid #666;
  height: 1.5rem;
  font-size: .8rem;
}

/******Footer******/
.footer{
  background-color: #5f4e4e
}
.footer p{
  color: #fff;
  font-size: .8rem;
  margin: 0;
}