*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #9d5959;
}
.botonesHeader{
  border: 1px solid #000;
}
.botonesHeader:hover{
  background-color: #8e7c7c;
}

.footer{
  background-color: #5f4e4e
}

.footer p{
  color: #fff;
  font-size: .8rem;
  margin: 0;
}