*{
  margin: 0;
  padding: 0;
}

/******Header******/
.header{
  background-color: #9d5959;
}
.botonesHeader{
  border: 1px solid #000;
}
.botonesHeader:hover{
  background-color: #8e7c7c;
}

/******Items******/
.cardsProductos {
  width: 215px;
	margin: 20px auto;
	background-color: #fff ;
	transition: all 450ms ease-in-out;
	border-radius: .5rem;
	box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}
/******ItemDetail******/
.cardDetailProducto{
  border-radius: .5rem;
  width: 35%;
  background-color: #fff;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}
.cardDetailProducto img{
  width: 95%;
}

@media screen and (min-width: 501px) and (max-width: 1000px){
  .cardDetailProducto{
    width: 50%;
  }
  /*
  .quantity, .count{
    display: inline-block !important;
  }
  .addButton, .completeButton{
    margin-top: .5rem;
  }*/
}
/**/
@media all and (max-width: 1000px){
  .cardDetailProducto{
    width: 70%;
  }
  .quantity, .count{
    display: inline-block !important;
  }
  .addButton, .completeButton{
    margin-top: .5rem;
  }
}

.cardsProductos:hover{
  transform: scale(1.1);
}
.cardsProductos img{
  border-radius: .5rem;
  margin: auto;
  width: 210px;
  height: 200px;	
 }
 .cardsProductos h3, p {
  font-size: 1rem;
}

.quantity{ 
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.count{
  margin-bottom: 0;
}
.itemsButton{
  font-size: .8rem;
  background-color: transparent;
  border: 1px solid #666;
}
.itemsButton:hover, .addButton:hover, .completeButton:hover{
  background-color: #201b1b;
  color: #fff;
}
.addButton{
  border: 1px solid #666;
}

/******Complete Button/******/
.completeButton{
  background-color: transparent;
  text-decoration: none;
  color: #000
  ;
  border: 1px solid #666;  
}
/******Footer******/
.footer{
  background-color: #5f4e4e
}
.footer p{
  color: #fff;
  font-size: .8rem;
  margin: 0;
}